/* CSS files add styling rules to your content */

body {
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
  font-family: "Manrope", sans-serif !important;
  margin: 2em;
  background-color: #F2F3F4;
}
.highlight {
  background-color: #1c3041;
}
h1 {
  text-align: center;
  color: #C1f7dc;
  font-size: 10vw;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 2em;
}
p {
  text-align: center;
}
p1 {
  text-align: center;
  font-size: 2em;
}

/*Video Alignment*/
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  /*Donate page css*/
  .flex-containers {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
  }
}
iframe {
  padding-top: 3em;
  padding-right: 3em;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: Arial;
  navbar-align: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #FB3640;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2F2F2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FAA1A4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*Back to top button styling*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #FB3650; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #F2BB05; /* Add an orange background on hover */
}

footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2bb05;
  color: white;
  text-align: center;
  font-size: 1.5vw;
  color: #c1f7dc;
}